.work__preview {
  position: relative;
}

.work__preview:after {
  content: '';
}

.work__preview img {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.work__preview:hover img {
  -webkit-filter: brightness(0.4);
          filter: brightness(0.4);
}

.work__preview:hover:after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  pointer-events: none;
  content: url("../img/add.svg");
}