$containerWidth: 940
// HelveticaNeueCyr-Roman
$mainFontFamily: helv
$mainFontColor: #414141
$mainFontSize: 13
$background: #fff

@import "nullStyle"
@import "mixins"
@import "header"
@import "footer"
@import "fonts"
@import "general"

body
  height: 100%
  color: $mainFontColor
  font-family: $mainFontFamily
  @include adaptive-property ('font-size',$mainFontSize,12)

  &.fixed
    overflow: hidden

  button
    color: #fff

.main
  width: 100%
  min-height: 100vh

  background: $background

  &__body
    background: $background

.twitter-ref
  color: #f3b29d

  &:before
    content: '@'

  @media (max-width: 768px)
    color: #fae0d7

.content

  &__body
    margin: auto
    >*
      &:not(:last-child)
        margin-bottom: 15px
        margin-top: 15px

.page-borders
  display: flex
  justify-content: center

  @media (min-width: 600px)
    &:before
      content: ''
      background: #f0aa93
      flex-grow: 1
    &:after
      content: ''
      background: #f0aa93
      flex-grow: 1

  &__fixed-borders
    &:before
      max-height: 60px
    &:after
      max-height: 60px

  &__body
    margin: 0 10px

    @media (max-width: 768px)
      width: 100%

.page-title
  text-transform: uppercase
  @include adaptive-property ('font-size',24, 18)
  color: #fff
  font-family: bebas
  background: #e8603c
  padding: 20px 20px 20px 20px

  @media (max-width: 426px)
    text-align: center

.slider

  &__prev-btn
    @media (max-width: 768px)
      display: none

  &__next-btn
    @extend .slider__prev-btn

.main-slider
  &__slide

  &__img
    position: relative
    padding-bottom: 43%

    @media (max-width: 768px)
      padding-bottom: 65%

    img

  &__info
    position: absolute
    width: 45%
    bottom: 5%
    left: 4%

    padding: 23px 18px 23px 18px
    background: #e8673cc4
    color: #fff

    @media (max-width: 1080px)
      width: 65%
      bottom: 5%
      left: 50%
      transform: translate(-50%, -0%)
    @media (max-width: 768px)
      width: 100%
      bottom: 0
      left: 50%
      transform: translate(-50%, -0%)

  &__title
    display: inline-block
    font-family: bebas
    @include adaptive-property ('font-size',20, 16)
    padding: 0px 0px 20px 0px

  &__text
    line-height: 1.2

  &__prev-btn
    position: absolute
    top: 50%
    left: 5%
    transform: translate(-50%, -50%)
    cursor: pointer
    z-index: 1
    padding: 50px 30px 50px 30px

    &:hover
      path
        opacity: 1

    &.unactive
      opacity: 0.2

  &__next-btn
    @extend .main-slider__prev-btn
    left: 95%
    transform: translate(-50%, -50%) rotate(180deg)

  &__demos
    margin-top: 15px

  &__demo-img
    padding-bottom: 15%

    @media (max-width: 768px)
      padding-bottom: 20%
    @media (max-width: 426px)
      padding-bottom: 25%

    @media (min-width: 768px)
      &:hover
        img
          transform: scale(1.1)

    img
      transition: all 0.2s ease
      object-fit: cover

.benefits

  &__body
    display: flex
    flex-flow: row wrap
    justify-content: center

    @media (min-width: 500px)
      margin: 0px -30px 0px -30px

  &__item
    flex: 1 0 33.333%
    min-width: 270px

    @media (max-width: 500px)
      flex: 1 0 100%
      min-width: auto

.advantage
  padding: 30px 30px 30px 30px
  
  >*
    &:not(:last-child)
      padding: 0px 0px 20px 0px

  @media (max-width: 500px)
    display: flex
    flex-flow: column nowrap
    padding: 10px 10px 10px 10px

  &__header
    display: flex
    align-items: center

  &__icon
    display: inline-block
    padding: 0px 20px 0px 0px
    img

  &__title
    color: #e8663c

  &__text
    line-height: 1.5
    margin: 0px 0px 5px 0px

  &__ref
    flex-grow: 0
    font-family: bebas
    text-transform: uppercase
    color: #fff
    background: #e8663c
    border: 1px solid #e8663c
    padding: 5px 9px 5px 9px

    transition: all 0.2s ease
    &:hover
      color: #e8663c
      background: #fff

    @media (max-width: 500px)
      padding: 7px 12px 7px 12px
      letter-spacing: 1px
      font-size: 15px
      text-align: center

.works

  &__title
    color: #e8603c
    padding: 0px 0px 25px 0px

  &__body

  &__items
    display: grid
    grid-template-columns: repeat(4, minmax(150px, 1fr))
    gap: 30px

    @media (max-width: 890px)
      grid-template-columns: repeat(3, minmax(120px, 1fr))
    @media (max-width: 550px)
      grid-template-columns: repeat(2, minmax(120px, 1fr))
      gap: 15px

.work

  &__preview

  &__body
    padding: 13px 10px 13px 10px
    font-family: bebas
    border: 1px solid #dbdbdb
    border-top: none
    >*
      &:not(:last-child)
        padding-bottom: 10px

  &__title
    display: block
    letter-spacing: 0.7px
    text-transform: uppercase
    color: #b9b9b9
    @include adaptive-property ('font-size',18, 14)

  &__date
    text-transform: uppercase
    color: #e8663c

.block-title
  text-transform: uppercase
  font-family: bebas
  @include adaptive-property ('font-size',18, 16)

  &_styled
    @extend .block-title
    display: flex

    &:after
      content: ''
      display: inline-block
      flex-grow: 1
      background: url('../img/line.webp') repeat center / cover
      margin: 0px 0px 0px 20px
